In [4]:
import numpy
import pandas as pd

In [9]:
train_file = "../../dataset/yelp2018/train.txt"

user_array = []
item_array = []
with open(train_file) as file_handle:
    for line in file_handle.readlines():
        if len(line) > 0:
            line = line.strip('\n').split(' ')
            items = [int(i) for i in line[1:]]
            uid = int(line[0])

            for item_id in items:
                user_array.append(uid)
                item_array.append(item_id)

user_iteraction = pd.DataFrame({
    "user_id": user_array,
    "item_id": item_array
})

user_iteraction

         user_id  item_id
0              0        0
1              0        1
2              0        2
3              0        3
4              0        4
...          ...      ...
1237254    31667    22984
1237255    31667    12943
1237256    31667    29149
1237257    31667     4927
1237258    31667    31751

[1237259 rows x 2 columns]